:root{
    /*Gray Scale*/
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --black: #000;

    /*Other Colors*/
    --red: #FF2525;
    --yellow: #FFDE59;
    --orange: #FFBD59;
    --green: #00BF63;
    --sky-blue: #8be8ff;
    --light-blue: #0CC0DF;
    --blue: #3943ff;
    --marine-blue: #2f58d1;
    --indigo: #5E17EB;
    --purple: #a82dd1;
}

.light{
    --bg: var(--gray0);
    --primary-gradient: linear-gradient(to right, var(--gray0), var(--gray2), var(--gray4), var(--gray6));
    --bg-dropdown: var(--gray1);
    --bg-shadow: var(--gray6);

    --text: var(--gray6);
    --text-inverted: var(--gray0);

    --card: var(--gray2);
    --descriptive-card: var(--gray1);
    --card-header: var(--gray0);
    --border: var(--gray4);

    --button: var(--gray1);
    --button-hover: var(--gray0);
}

#light::before {
    background: #ffffff;
}


.dark{
    --primary-gradient: linear-gradient(to right, var(--gray0), var(--gray2), var(--gray4), var(--gray6));
    --bg: var(--gray5);
    --bg-dropdown: var(--gray6);
    --bg-shadow: var(--gray2);

    --text: var(--gray0);
    --text-inverted: var(--gray6);

    --card: var(--gray4);
    --descriptive-card: var(--gray4);
    --card-header: var(--marine-blue);
    --border: var(--marine-blue);

    --button: var(--marine-blue);
    --button-hover: var(--sky-blue);
}

#dark::before {
    background: #2a2e35;
}